body{
    background-color: skyblue;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap:10px;
}
h1{
    text-align: center;
    color:blueviolet;
}
label{
  
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}
input{
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    height:50px;
    
}
button{
    background-color:plum;
    color: white;
    height: 30px;
    width: 80px;
    text-align: center;
    border-radius: 5px;
}